#body{

}

#container{
  margin: auto;
  background-color: #007bff;
  width:80%;
  min-Width: 300px;
  

  margin-top: 50px;
 
  /* margin: 20px 50px;
  padding: 30px 35px; */
}
.card{
 margin: auto;
  padding: 30px 20px;

  }
.card:hover{
  position: relative;
  top:-5px;
}
ul li{
  list-style: none;
  text-align: left;
  font-size: large;
  padding: 10px;
}
ul li:before{
 content: "\2714\0020";;
}
Button{
 
  width:100%
}
ul li.cross:before{
  content: '\0078  ';
  color:#bec6cf;
  font-size: 18px;
}
ul li.cross{
  color:#bec6cf;
}